/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MountainGoats implementation : © Joseph Utecht <joseph@utecht.co>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mountaingoats.css
 *
 * MountainGoats stylesheet
 *
 */

.board_tile {
    height: 120px;
    width: 120px;
    position: absolute;
    background-image: url('img/board.jpg');
}

#board_5_0 { background-position: 0px 0px; }
#board_5_1 { background-position: 0px -120px; }
#board_5_2 { background-position: 0px -240px; }
#board_5_3 { background-position: 0px -360px; }

#board_6_0 { background-position: -120px 0px; }
#board_6_1 { background-position: -120px -120px; }
#board_6_2 { background-position: -120px -240px; }
#board_6_3 { background-position: -120px -360px; }

#board_7_0 { background-position: -240px 0px; }
#board_7_1 { background-position: -240px -120px; }
#board_7_2 { background-position: -240px -240px; }

#board_8_0 { background-position: -360px 0px; }
#board_8_1 { background-position: -360px -120px; }
#board_8_2 { background-position: -360px -240px; }

#board_9_0 { background-position: -480px 0px; }
#board_9_1 { background-position: -480px -120px; }

#board_10_0 { background-position: -600px 0px; }
#board_10_1 { background-position: -600px -120px; }

.possibleMove {
    background-color: white;
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: pointer;
}

.die {
    height: 110px;
    width: 110px;
    position: absolute;
    background-image: url('img/110_110_dice.png');
}

.die_1 { background-position: 0px 0px; }
.die_2 { background-position: -110px 0px; }
.die_3 { background-position: -220px 0px; }
.die_4 { background-position: -330px 0px; }
.die_5 { background-position: -440px 0px; }
.die_6 { background-position: -550px 0px; }

.point_token {
    height: 100px;
    width: 100px;
    position: absolute;
    background-image: url('img/point_tokens.png');
}

.point_token_5 { background-position: 0px 0px; }
.point_token_6 { background-position: -100px 0px; }
.point_token_7 { background-position: -200px 0px; }
.point_token_8 { background-position: -300px 0px; }
.point_token_9 { background-position: -400px 0px; }
.point_token_10 { background-position: -500px 0px; }

.bonus_token {
    width: 200px;
    height: 125px;
    position: absolute;
    background-image: url('img/bonus_tokens.png');
}

.bonus_token_6 { background-position: 0px 0px; }
.bonus_token_9 { background-position: -200px 0px; }
.bonus_token_12 { background-position: 0px -125px; }
.bonus_token_15 { background-position: -200px -125px; }

.goat {
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url('img/goat.png');
}

