/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MountainGoats implementation : © Joseph Utecht <joseph@utecht.co>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mountaingoats.css
 *
 * MountainGoats stylesheet
 *
 */

.board_tile {
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-image: url('img/board.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#board {
    display: grid;
    grid: repeat(6, auto) / repeat(6, auto);
    width: 720px;
}

#board_5_0 { background-position: 0px 0px; grid-area: 2 / 1 / 3 / 2; }
#board_5_1 { background-position: 0px -120px; grid-area: 3 / 1 / 4 / 2; }
#board_5_2 { background-position: 0px -240px; grid-area: 4 / 1 / 5 / 2; }
#board_5_3 { background-position: 0px -360px; grid-area: 5 / 1 / 6 / 2; }

#board_6_0 { background-position: -120px 0px; grid-area: 2 / 2 / 3 / 3; }
#board_6_1 { background-position: -120px -120px; grid-area: 3 / 2 / 4 / 3; }
#board_6_2 { background-position: -120px -240px; grid-area: 4 / 2 / 5 / 3; }
#board_6_3 { background-position: -120px -360px; grid-area: 5 / 2 / 6 / 3; }

#board_7_0 { background-position: -240px 0px; grid-area: 2 / 3 / 3 / 4; }
#board_7_1 { background-position: -240px -120px; grid-area: 3 / 3 / 4 / 4; }
#board_7_2 { background-position: -240px -240px; grid-area: 4 / 3 / 5 / 4; }

#board_8_0 { background-position: -360px 0px; grid-area: 2 / 4 / 3 / 5; }
#board_8_1 { background-position: -360px -120px; grid-area: 3 / 4 / 4 / 5; }
#board_8_2 { background-position: -360px -240px; grid-area: 4 / 4 / 5 / 5; }

#board_9_0 { background-position: -480px 0px; grid-area: 2 / 5 / 3 / 6; }
#board_9_1 { background-position: -480px -120px; grid-area: 3 / 5 / 4 / 6; }

#board_10_0 { background-position: -600px 0px; grid-area: 2 / 6 / 3 / 7; }
#board_10_1 { background-position: -600px -120px; grid-area: 3 / 6 / 4 / 7; }

.possibleMove {
    border: 2px blue solid;
    cursor: pointer;
}

.die {
    height: 50px;
    width: 50px;
    background-image: url('img/110_110_dice.png');
    background-repeat: no-repeat;
    background-size: 300px 50px;
}

.die_1 { background-position: 0px 0px; }
.die_2 { background-position: -50px 0px; }
.die_3 { background-position: -100px 0px; }
.die_4 { background-position: -150px 0px; }
.die_5 { background-position: -200px 0px; }
.die_6 { background-position: -250px 0px; }

.point_token {
    height: 50px;
    width: 50px;
    background-image: url('img/point_tokens.png');
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    background-size: 300px 50px;
}

.point_token_5 { background-position: 0px 0px; }
.point_token_6 { background-position: -50px 0px; }
.point_token_7 { background-position: -100px 0px; }
.point_token_8 { background-position: -150px 0px; }
.point_token_9 { background-position: -200px 0px; }
.point_token_10 { background-position: -250px 0px; }

.bonus_token {
    width: 200px;
    height: 125px;
    position: absolute;
    background-image: url('img/bonus_tokens.png');
}

.bonus_token_6 { background-position: 0px 0px; }
.bonus_token_9 { background-position: -200px 0px; }
.bonus_token_12 { background-position: 0px -125px; }
.bonus_token_15 { background-position: -200px -125px; }

.goat {
    width: 40px;
    height: 40px;
    background-blend-mode: multiply;
    mask: url('img/goat.png');
    -webkit-mask: url('img/goat.png');
    mask-size: 40px 40px;
    mask-repeat: no-repeat;
}

.goat_start {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dice_area {
    display: flex;
    justify-content: space-evenly;
}

#my_play_area {
    display: flex;
    justify-content: center;
    width: 100%;
}

